body {
    font-family: "arial";
    font-size: 0.85em;
}

header {
    margin-bottom: 20px;
}

#easel {
    text-align: left;
    vertical-align: top;
    display: inline-block;
}

#screen {
    border: 1px solid #000000;
    display: none;
}

#dimensions {
    display: none;
}

#upload {
    display: none;
}

#controls {
    text-align: left;
    padding-right: 10px;
    display: none;
    vertical-align: top;
}

#uploadArea, #imgUploadArea {
    display: none;
    border: 3px dashed dodgerblue;
    height: 200px;
    text-align: center;
}

#clearImage {
    display: none;
}

.button {
    padding: 4px;
    text-decoration: none;
    font-size: 13px;
    color: #000000;
    background-color: #cccccc;
    border: 1px solid #000000;
    border-radius: 5px;
}