body {
    font-family: "arial";
    font-size: 0.85em;
}

header {
    margin-bottom: 20px;font-size: 0.85em;
}

#easel {
    text-align: left;
    vertical-align: top;
    display: inline-block;
}

#screen {
    border: 1px solid #000000;
    display: inline;
}

#controls {
    text-align: left;
    padding-right: 10px;
    vertical-align: top;
    display: inline-block;
}

#uploadArea, #imgUploadArea {
    border: 3px dashed dodgerblue;
    height: 100px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#wSize, #hSize {
    width: 100px;
}

#titleBar {
    background-color: #333333;
    color: white;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

#clearImage {
    color: lightslategray;
    border-color: lightslategray
}

.button {
    padding: 4px;
    text-decoration: none;
    font-size: 13px;
    color: #000000;
    background-color: #cccccc;
    border: 1px solid #000000;
    border-radius: 5px;
    display: inline-block;
}